<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addhdthongke</servlet-name>
        <servlet-class>controller.addhdthongke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hdthongke</servlet-name>
        <servlet-class>controller.hdthongke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhoController</servlet-name>
        <servlet-class>controller.KhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchXuat</servlet-name>
        <servlet-class>controller.SearchXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHDXuat</servlet-name>
        <servlet-class>controller.showHDXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addxuat</servlet-name>
        <servlet-class>controller.addxuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hdxuat</servlet-name>
        <servlet-class>controller.hdxuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addnhap</servlet-name>
        <servlet-class>controller.addnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hdnhap</servlet-name>
        <servlet-class>controller.hdnhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNhap</servlet-name>
        <servlet-class>controller.SearchNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showHDNhap</servlet-name>
        <servlet-class>controller.showHDNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tktheothang</servlet-name>
        <servlet-class>controller.tktheothang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addhdthongke</servlet-name>
        <url-pattern>/addthongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hdthongke</servlet-name>
        <url-pattern>/hdthongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhoController</servlet-name>
        <url-pattern>/kho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchXuat</servlet-name>
        <url-pattern>/searchxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHDXuat</servlet-name>
        <url-pattern>/showxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addxuat</servlet-name>
        <url-pattern>/addxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hdxuat</servlet-name>
        <url-pattern>/hdxuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addnhap</servlet-name>
        <url-pattern>/addnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hdnhap</servlet-name>
        <url-pattern>/hdnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNhap</servlet-name>
        <url-pattern>/searchnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showHDNhap</servlet-name>
        <url-pattern>/shownhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tktheothang</servlet-name>
        <url-pattern>/thang</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
